// import MUI colors
@import "../lib/bower_components/mui/src/sass/mui/colors";
$mui-input-font-color:  white;
$mui-input-placeholder-color: rgba(mui-color('white'), 0.75);
// import MUI SASS
@import "../lib/bower_components/mui/src/sass/mui";



/**
 * Body CSS
 */

html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}


/**
 * Content CSS
 */

.landingpage, .create{
  &#content-wrapper{
    min-height: 100%;
    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -50px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 800px) {
  .landingpage, .create{
    &#content-wrapper{
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  #yourErrors{
    margin: 10px 100px;
  }
}
@media screen and (max-width: 800px) {
  .landingpage, .create{
    &#content-wrapper{
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  #yourErrors{
    margin: 3px 5px;
  }
}

.landingpage#content-wrapper {
  background: url(../img/mounzer-awad-348688.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.create#content-wrapper{
  background: url(../img/ehud-neuhaus-191867.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.create, .landingpage {
  .mui--text-display3, .mui--text-display1{
    color:white;
  }
}
.mui-textfield-long>textarea{
  min-height: 128px;
}

.mui-textfield>input {
    color:white;
}

#link-input,
#embed-ta{
  width: 300px;
  margin-left: 50%;
  position: relative;
  left: -150px;
}
.code {
  font-family: Monospace;
  textarea, input{
    font-size:11pt;
  }
}

/**
 * Footer CSS
 */

footer {
  box-sizing: border-box;
  height: 50px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}
